# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
env/
venv/
ENV/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Pytest cache
.pytest_cache/

# Editor/IDE files
.vscode/
.idea/
*.swp
